/*Formatação geral */
*{
    margin: 0;
    padding: 0;
    font-family: Arial;
}

:root{
    --bg-banner: #333333;
    --primary: #66806D;
    --second: #808080;
    --comp: #807373;
    --white: #ffffff;
    --hv-header: 100px;

}

body{
    color: #000;
    overflow-x: hidden;
}

.flex{
    display: flex;
    flex-wrap: wrap;
}

.container{
    width: 1140px;
    display: flex;
    justify-content: space-between;
}


/*Formatando o cabeçalho */
header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--hv-header);
}

.logo{
    background-color: var(--bg-banner);
    width: 60px;
    height: 60px;
}

/*Tag de navegação dentro do cabeçalho */
nav ul, nal li{
    list-style: none;
}

nav ul{
    display: flex;
}

nav a{
    display: block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--second);
}

nav .active a, nav a:hover{
    background-color: var(--bg-banner);;
    color: var(--white);
}

.menu-mobile{
    display: none;
}


/*Banner da sessão principal */
.section-home{
    background-color: var(--bg-banner);
    background-position: center;
	background-size: cover;
    height: calc(100vh - var(--hv-header));
    display: flex;
    justify-content: center;
}

.column{
    flex-direction: column;
}

.home-title{
    width: 100%;
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.home-title h1{
    max-width: 350px;
    color: var(--white);
    font-size: 70px;
    text-shadow: 0px 1px 0px var(--second);
}

.home-title h2{
    margin-top: 20px;
    max-width: 350px;
    color: var(--white);
    font-size: 21px;
    text-shadow: 0px 1px 0px var(--second);
}

.section-details{
    display: flex;
    justify-content: center;
    margin-top: -100px;
}

.details{
    width: 100%;
    height: 210px;
    background-color: var(--primary);
    display: flex;
}

.card-1, .card-2, .card-3{
    flex: 1;
    color: var(--white);
    padding: 20px;
}

.card-1{
    background-color: var(--second);
}

.card-2{
    background-color: var(--comp);
}

.card-3{
    background-color: var(--primary);
}

.details-title{
    font-size: 20px;
}

.details-desc{
    font-size: 12px;
    margin: 20px 0;
}

.details a{
    display: inline-block;
    border: 1px solid var(--white);
    padding: 7px;
    color: var(--white);
    font-size: 14px;
    text-decoration: none;
    cursor: pointer;
}

.section-geral{
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
}

.geral-first{
    flex:2;
}

.geral-second{
    flex:1;
}

.widget{
    margin-top: 60px;
}

.widget-info{
    margin-top: 20px;
    padding-right: 40px;
}

.widget-title{
    margin-top: 30px;
    margin-bottom: 20px;
}



.widget-title-text{
    color: var(--bg-banner);
    font-size: 21px;
    font-weight: bold;
}

.widget-title-bar{
    width: 50px;
    height: 3px;
    background-color: var(--comp);
    margin-top: 10px;
}

article {
    flex: 1;
    min-width: 300px;
    padding: 10px;
}

article a{
    text-decoration: none;
    color: #000;
}

article .news-data{
    display: flex;
}

article .news-post{
    background-color: var(--primary);
    color: #ffffff;
    font-size: 12px;
    padding: 10px;
    margin-right: 2px;
}

article .news-comments{
    background-color: var(--second);
    color: #ffffff;
    font-size: 12px;
    padding: 10px;
}

article .news-thumbnail{
    margin-top: 30px;
    width: 100%;
    height: 200px;
    background-color: var(--comp);
    
}

article .news-title{
    margin: 25px 0;
    font-size: 23px;
    font-weight: 600;
}

article .news-resume{
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 30px;
}

footer{
    background-color: var(--bg-banner);
    color: var(--white);
    display: flex;
    justify-content: center;
}

footer .margin-50{
    margin-top: -50px;
}

.footer-menu{
    width: inherit;
    display: flex;
}

.footer-menu a{
    display: block;
    text-decoration: none;
    color: var(--white);
}

.fm-1, .fm-2, .fm-3{
    flex: 1;
    padding: 20px;
}

.fm-1{
    background-color: var(--second);
}

.fm-2{
    background-color: var(--comp);
}

.fm-3{
    background-color: var(--primary);
}

.flex-col{
    flex-direction: column;
}

.footer-area{
    width: inherit;
    display: flex;
}

.footer-area-item{
    flex: 1;
}

.footer-area .widget-title-text{
    color: var(--white);
}

.footer-coyright{
    width: inherit;
    border-top: 1px solid var(--second);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 600px) and (max-width: 920px) {
    header, .section-home, footer, .footer-area{
        padding: 0 40px;
    }

    .section-geral{
        padding: 0 20px;
    }
    .container{
        width: 100vw;
    }
}

@media (max-width: 599px){
    header, .section-home, footer, .footer-area{
        padding: 0 20px;
    }

    .container{
        flex-direction: column;
        width: 100vw;
    }

    header .container{
        flex-direction: row;
        justify-content: space-between;
    }

    header{
        padding: 20px;
        height: auto;
    }

    header .menu{
        display: none;
    }

    header nav ul{
        width: 100px;
        flex-direction: column;
        position: absolute;
        left: 0;
        background-color: #ffffff;
        width: 100%;
        margin-top: 80px;
    }

    .menu-mobile{
        flex: 1;
        display: block;
        width: 40px;
        height: 40px;
        margin-top: 10px;
        display: flex;
        justify-content: end;
    }

    .menu-mobile .line{
        cursor: pointer;
        width: 40px;
        height: 6px;
        margin: 6px 0;
        background-color: var(--bg-banner);
        
    }

    .details{
        height: auto;
        flex-direction: column;
    }

    .section-geral{
        padding: 0 20px;
    }

    .footer-menu, .footer-area{
        flex-direction: column;
    }
}
